<p>employee1 works!</p>
<table style="border:2px solid black"> 
    <tr>
       <th>Index</th> 
       <th>Employee Name</th> 
       <th>Employee Location</th> 
       <th>Employee Phone</th> 
       <th>Employee Background</th> 
      </tr>

   <div *ngFor='let item of users; let i = index'> 
       <tr> 
           <td>{{i}}</td> 
           <td>{{item.employeeName}}</td> 
           <td>{{item.employeeLocation}}</td> 
           <td>{{item.employeePhone}}</td> 
           <td>{{item.employeeBackground}}</td>
       </tr> 
   </div> 
</table>